<a href="https://colab.research.google.com/github/LiChiiiii/NLP_jieba/blob/master/nlp_hw01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install jieba
!pip install pandas

Requirement already satisfied: jieba in /usr/local/lib/python3.7/dist-packages (0.42.1)

In [84]:
import jieba
import jieba.analyse
import pandas as pd

def remove_stop_words(file_name,seg_list):
  with open(file_name,'r') as f:
    stop_words = f.readlines()

  stop_words = [stop_word.rstrip() for stop_word in stop_words]
  new_list = []
  
  for seg in seg_list:
    if seg not in stop_words:
      new_list.append(seg)
  return new_list

def count_segment_freq(text):
  seg_df = pd.DataFrame(text,columns=['seg'])
  seg_df['count'] = 1
  sef_freq = seg_df.groupby('seg')['count'].sum().sort_values(ascending=False)
  sef_freq = pd.DataFrame(sef_freq)
  return sef_freq


stop_file = 'remove.txt'
path = 'hw1-dataset.txt'
f = open(path, 'r')
text = []
seg_list = jieba.cut(f.read(), cut_all=False)
seg_lists = remove_stop_words(stop_file,seg_list)
f.close
for data in seg_lists:
  text.append(data)
print("success")
sef_freq = count_segment_freq(text)
sef_freq.head()

success

      count
seg
\t   418202
\n   418202
的    317883
     294598
有    202811

In [80]:
# 統計詞頻
import pandas as pd
def count_segment_freq(text):
  seg_df = pd.DataFrame(text,columns=['seg'])
  seg_df['count'] = 1
  sef_freq = seg_df.groupby('seg')['count'].sum().sort_values(ascending=False)
  sef_freq = pd.DataFrame(sef_freq)
  return sef_freq

sef_freq = count_segment_freq(text)
sef_freq.head()

      count
seg
\t   418202
\n   418202
的    317883
     294598
有    202811